body {
    background: url(bg.jpg) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.skyva-element {
    /*border-radius: 50px;
    background: red;*/
    background: url(sun.png) no-repeat;
    top:0;
    transform: translate(-50%, -50%);
    left:0;
    width: 200px;
    height: 200px;
    position: absolute;
    background-size: contain;
}
#container {
    background: yellow;
    /* width: 100%;*/
    height: 200%; 
    position: fixed;
    top: 0;
    left: 50%;
    margin:100px 0px;
    z-index: -99999;
}